{%  extends 'Pagelayout.twig' %}


{%  block body %}

<div class="row justify-content-center">
    <div class="col-9">
        <p><a href="index.php" class="btn btn-secondary">Retour à la liste des billets</a></p>

        <div class="card mt-5">
            <div class="card-header">
                <em>publié le {{ billet.date_creation_fr }}</em>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ billet.titre }}</h5>
                <p class="card-text">{{  billet.contenu }}</p>
            </div>
        </div>
    </div>
</div>


<div class="row justify-content-center mt-5">
    <div class="col-9">

        <h3>Commentaires</h3>

        <div class="list-group">

            {% for commentaire in listCommentaires %}

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ commentaire.auteur }}</h5>
                    <small>{{ commentaire.auteur }}</strong> le {{ commentaire.date_commentaire_fr }}</small>
                </div>
                <p class="mb-1">{{ commentaire.commentaire }}</p>
            </a>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
