{%  extends 'Pagelayout.twig' %}

{% block subtitle %}
    <h2>Gestion des Utilisateurs</h2>
{% endblock %}

{%  block body %}
<div class="row justify-content-center">
  <div class="col-9">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Identifiant</th>
          <th scope="col">Modifier</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
      <button type="button" id="newuser" class="btn btn-link"><a href="?controller=utilisateurs&action=createUtilisateur" target="_blank">+ Ajout d'un nouvel utilisateur</a></button>
      {% for utilisateur in listUtilisateurs %}
          <tbody>
              <tr>
                  <td><a href="?controller=utilisateurs&action=AffUtilisateur&id={{utilisateur.id}}" target="_blank">{{ utilisateur.nom }}</a></td>
                  <td>{{ utilisateur.prenom }}</td>
                  <td>{{ utilisateur.identifiant }}</td>
                  <td><a href="?controller=utilisateurs&action=ModifUtilisateur&id={{utilisateur.id}}" target="_blank"><button type="button" class="btn btn-light" id="modifier_utilisateur"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                  <path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                  </svg></button></a></td>
                  <td><button type="button" class="btn btn-danger" id="supprimer_utilisateur"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                  </svg></button></td>
              </tr>
          </tbody>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}