{%  extends 'Pagelayout.twig' %}

{% block subtitle %}
    <h2>Gestion des résultats</h2>
{% endblock %}

{%  block body %}
<div class="row justify-content-center">
  <div class="col-9">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Equipe domicile</th>
          <th scope="col">Score</th>
          <th scope="col">Equipe visiteur</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
      <td><a href="?controller=equipes&action=AffEquipe&id={{resultats.id_equipe_domicile}}">{{resultats.equipe_domicile}}</a></td>
      <td><p>{{resultats.resultat_domicile}} - {{resultats.resultat_visiteur}}</p></td>
      <td><a href="?controller=equipes&action=AffEquipe&id={{resultats.id_equipe_visiteur}}">{{resultats.equipe_visiteur}}</a></td>
      <td>{{resultats.journee}}</td>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}